.filters {
  &__brand {
    width: 240px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  &__brand-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__brand-items {
    
  }
  &__brand-item {
    margin-bottom: 10px;
  }
  &__brand-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__brand-checkbox {
    display: none;

    &:checked  + .filters__brand-custom-checkbox:before {
      opacity: 1;
    }

    &:checked  + .filters__brand-custom-checkbox {
      border: 1px solid var(--color-orange);
    }

    &:focus + .filters__brand-custom-checkbox{
      box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
    }
  }
  &__brand-custom-checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid var(--color-grey);
    //vertical-align: sub;
    margin-right: 10px;
    position: relative;

    &::before{
      content:'';
      display: inline-block;
      width: 10px;
      height: 8px;
      background: url(assets/icons/shape.svg) center center / contain no-repeat;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }
  &__brand-name {
    color: var(--color-grey);
    font-size: 14px;
  }
  &__brand-count {
    font-size: 14px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-grey-light);
    color: var(--color-grey);
    border-radius: 50%;
    margin-left: auto;
  }
}
