@import "./style/_header.scss";
@import "./style/_filters-section.scss";
@import "./style/_goods-section.scss";
@import "./style/_sort-search.scss";
@import "./style/_footer.scss";

:root {
	--color-backgrounfd: #121c1e;
	--color-orange: #ffca94;
	--color-white: #ffffff;
	--color-grey: #999999;
	--color-grey-light: #c2c2c2;

}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	background-color: transparent;
}

button:focus {
	outline-style: none;
}

button:active,
button:hover,
button:focus {
	outline: 0;
	outline-offset: 0;
}

body {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #545454;
	background-color: var(--color-backgrounfd);
  min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
	background-color: #ffca94;
}

.main {

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }

  &__filters {
    //flex: 1 1 400px;
    //align-self:flex-start;
  }

  &__goods {
    width: 100%;
  }

}

[class*='__container'] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}